@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Ubuntu:wght@300;400;500;700&display=swap');

/*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}*/

body{
    padding: 10px;
    background: url(./images/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.topnav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 3px black;
}

.topnav p{
    height: 100%;
    font-size: 20px;
}


.topnav a{
    text-decoration: none;
    color: black;
}

.topnav a:hover{
    color: red;
}

.menu-button:hover{

}

