@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

body{
    padding: 10px;
    background: url(./images/background3.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.account-container{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    width: 200px;
    height:100px;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 3px 3px black;
    transition: 0.3s;
}


.account-container:hover{
    transition: 0.3s;
    transform: translateY(-4px);
    box-shadow: 0px 6px 3px black;
}

.account-container i{
    font-size:30px
}


/* This is the section
for the map container and the live container, spacing them and what not.*/

/*.map-and-live{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20%;
}*/


.map-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 650ppx;
    height:400px;
    padding: 20px;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 3px 3px black;
    transition: 0.3s;
}

.map-container:hover{
    transform: translateY(-5px);
    box-shadow: 0px 6px 3px black;
    transition: 0.3s;
}

#map{
    width:480px; 
    height:340px; 
    border-radius: 10px;
}

#animateWeatherCheckBox {
   transform: scale(1.3);
   width: 20px;
   cursor: pointer;
}

.animate-weather-box{
    font-size:18px;
    font-family: 'Roboto' sans-serif;
}

.live-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 650px;
    height:600px;
    padding: 20px;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 3px 3px black;
    transition: 0.3s;
    overflow-y: scroll;
}

.live-container:hover{
    transition: 0.3s;
    transform: translateY(-6px);
}

/*Style for the flight search information*/

.search-container {
    position: relative;
    width: 400px;
    height: 80px;
    background: white;
    padding: 10px 32px;
    overflow: hidden;
    border-radius: 18px;
    font-family: 'Roboto', sans-serif;
    transition: 0.3s;
    box-shadow: 0px 3px 3px black;
}

.search-container:hover{
    transform: translateY(-6px);
    box-shadow: 0px 6px 3px black;
    transition: 0.3s;
}

.search-box {
    width: 100%; 
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box input {
    color: #06283D;
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 32px;
    border-style: none;
}

.search-box input::placeholder {
    font-size: 20px;
    font-weight: 500;
    color:#06283d5d;
    text-transform: capitalize;
}

.search-box button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    color:#06283D;
    background: #dff6ff;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s ease;
    border-style: none;
}

.search-box button:hover {
    color: white;
    background:#06283D;
}

.search-box i{
    position: absolute;
    color:#06283D;
    font-size: 28px;
}

.weather-box {
    text-align: center;
}

.weather-box img{
    width: 60%;
    margin-top: 30px;
}

.weather-box .temperature{
    position: relative;
    color:#06283D;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
    margin-left: -16px;
}

.weather-box .temperature span{
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}

.weather-box .description{
    color:#06283D;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.weather-details .humidity, .weather-details .wind{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
}

.weather-details .humidity{
    padding-left: 20px;
    justify-content: flex-start;
}

.weather-details .wind{
    padding-right: 20px;
    justify-content: flex-end;
}

.weather-details i{
    color:#06283D;
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}

.weather-details span{
    color:#06283D;
    font-size: 22px;
    font-weight: 500;
}

.weather-details p{
    color:#06283D;
    font-size: 14px;
    font-weight: 500;
}

.not-found{
    width: 100%;
    text-align: center;
    scale: 0;
    opacity: 0;
    display: none;
}

.not-found img{
    width: 70%;
}

.not-found p{
    color:#06283D;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.weather-box, .weather-details{
    scale: 0;
    opacity: 0;
}

.fade-in{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn{
    to{
        scale:1;
        opacity:1;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid rgb(255, 255, 255);
    padding: 20px;
    text-align: left;
    border-radius: 5px;
  }
